#include <windows.h>
#include "resource.h"

IDI_ICON1               ICON                    "icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS      VS_FF_DEBUG
#else
 FILEFLAGS      0x0L
#endif
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE       VFT_APP
 FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "081604b0"
        BEGIN
            VALUE "CompanyName",      "MAPENO.pt\0"
            VALUE "FileDescription",  "VirtualEscPos\0"
            VALUE "FileVersion",      "1.0.0.0\0"
            VALUE "InternalName",     "VirtualEscPos.exe\0"
            VALUE "LegalCopyright",   "Copyright (C) 2022 MAPENO.pt\0"
            VALUE "OriginalFilename", "VirtualEscPos.exe\0"
            VALUE "ProductName",      "VirtualEscPos\0"
            VALUE "ProductVersion",   "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x816, 1200
    END
END

IDD_INPUT_DLG DIALOGEX 0, 0, 180, 65
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Valor:",-1,10,10,40,12
    EDITTEXT        IDC_EDIT_VALUE,55,8,115,14,ES_AUTOHSCROLL | ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,40,35,45,14
    PUSHBUTTON      "Cancelar",IDCANCEL,95,35,45,14
END
